ASSETPULSE_ENV=development
ASSETPULSE_CONFIG_PATH=config/development.yaml

AIRFLOW_HOME=./airflow
AIRFLOW__CORE__DAGS_FOLDER=./airflow/dags
AIRFLOW__CORE__LOAD_EXAMPLES=False

MINIO_ENDPOINT=localhost:9000
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin
MINIO_BUCKET=assetpulse
