__pycache__/
*.py[cod]
*$py.class
*.egg-info/
dist/
build/
*.egg
.eggs/

data/source/
data/bronze/
data/silver/
data/quarantine/
# Note: data/gold/ and data/metadata/ are allowed so Streamlit Cloud can access the processed data

logs/*.log
logs/*.json

.env
.venv/
venv/
env/

airflow/airflow.db
airflow/airflow.cfg
airflow/airflow-webserver.pid
airflow/logs/
airflow/standalone_admin_password.txt

dbt/assetpulse/target/
dbt/assetpulse/dbt_packages/
dbt/assetpulse/logs/

.ruff_cache/
.pytest_cache/
.coverage
htmlcov/

.idea/
.vscode/
*.swp
*.swo
*~

.DS_Store
Thumbs.db
